<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hospital Management System</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/navbar.css">

</head>

<body>
    <div class="header">
        <div class="overlay">
            <div class="container-custom">
                <ul class="nav-one">
                    <!-- <li><a href="#"><i class="fa fa-heart-o"></i></a></li> -->
                    <!-- <li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li> -->
                    <li><a href="#"><i class="fa fa-sign-in mr-1" aria-hidden="true"></i>login / Register</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="logo-nav">
                    <div class="logo"><a href="#"><span>HOSPITAL</span></a></div>
                    <i class="fa fa-bars fa-2x"></i>
                    <ul class="nav-two">
                        <li class="active">Home</li>
                        <li>About</li>
                        <li>Portofolio</li>
                        <li>Shortcodes</li>
                        <li>Blog</li>
                        <li>Contact</li>
                        <li><i class="fa fa-search"></i></li>
                        <li class="slide"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="/js/navbar.js"></script>

</body>

</html>